@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;600;700;900&family=Roboto:ital,wght@0,500;0,700;1,400&family=Yeon+Sung&display=swap');

* {
    box-sizing: border-box;
    
}


body {
   margin: 0; 
   font-family: 'Poppins', sans-serif;
   font-size: 15px;
}


h1,h2,h3,h4,h5,h6 {
 margin: 0;
}

p {
    margin: 0;
}

.container {
    width: 1200px;
    margin:0 auto;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    height: 50px;
    font-weight: 500;
    background-color:#DB2512 ;
    min-width: 200px;
    transition: background-color .2s ease;
    
}

.btn:hover {
    background-color: #b61b0a;
}


/* header start */

.header {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
}

.header-wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-block {
   width: 20%; 
   

}


.header-logo {
    display:inline-block;

}

.header-logo img {
    height: 65px;
}
 






.nav {
display: flex;
}

.nav-link {
 margin-right: 35px;


  color: white;  
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}


.nav-link::after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity .2s ease;
    
}




.nav-link:last-child {
    margin-right: 0;
    
}

.nav-link:hover::after {
    opacity: 1;
}


.nav-link.active::after {
    opacity: 1;
}



.header-lng {
    display: flex;
    justify-content: flex-end;
}


.header-lng-link {
/* margin-right: 8px; */
font-weight: 600;
color: #B7B7B7;
text-transform: uppercase;
text-decoration: none;
transition: color .2s ease;
}

.header-lng-link {
    margin-right: 8px;
}


.header-lng-link:hover {
    color: #fff;
}


.header-lng-link.active {
    color: #fff;
    

}


/* //header end */


/* intro start */
.intro {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.intro::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .2;
    content:'' ;
}

.intro-content {
    height: 100vh;
    display: flex;  
    align-items: center;
    z-index: 2;
}


.intro-block {

}

.intro-title {
    max-width: 790px;
    margin-bottom: 30px;
   font-size: 48px;
   font-weight: 700; 
   color: #fff;
   line-height: 150%;
}

/* intro end */
.section {
    margin-bottom: 100px;
}

/* ifo start */

.info {
transform: translateY(-50%);
}



.info-item {
background-color: #fff;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
padding: 40px 40px 30px;
}



.info-img img {
   height: 30px;
}

.info-img {
   margin-bottom: 20px;
}


.info-title {
    margin-bottom: 10px;
   font-size: 18px;
   letter-spacing: 0.15em;
}


.info-text {
font-size: 18px;
color: #B7B7B7;
}



/* info end */

/* block start */

.block-title {
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: 0.15em;
}

.block-link{
    margin-bottom: 60px;
    display: inline-block;
    letter-spacing: 0.15em;
    color: #000;
}

.block-link:hover {
    text-decoration: none;
}


.wrapper {
    display: flex;
    margin: 0 -10px;
}

.block {
   width: 33.33%;
   padding: 0 10px; 
}


/* block end */

/* services start */

.services-item {
    text-decoration: none;
}

.services-item:hover .services-content-item {
opacity: 1;
}


.services-item:hover .services-content:after {
    opacity: .7;
}


.services-content {
height: 500px;
margin-bottom: 20px;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}


.services-title {
font-size: 20px;
font-weight: 600;
letter-spacing: 0.23em;
color: #000;
text-decoration: none;
}

.services-content::after {
    width: 100%;
    height: 100%;
    background-color:#000;
    opacity: .0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    transition: opacity .2s ease;
}


.services-content-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
transition: opacity .2s ease;

}


.services-img {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #DB2512;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
}

.services-text {
    max-width: 270px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.23em;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

/* sesrvices end */













