* {
    box-sizing: border-box;
}

body, h1 {
    margin: 0;
    padding: 0;
    font-family:Tahoma, Geneva, Verdana, sans-serif ;
    line-height: 1.4;
    color: #333333;
}

.section {
  padding: 30px 10%;  
}


.header {
 margin-top: 80px;
    font-size: 24px;
text-align: center;
}

.header span {
    
    font-weight: 300;
    display: block;
}

.header strong {
    font-weight: 900;
    text-transform: uppercase;
}

.main {
    margin-top: 80px;
    text-align: center;
}


.video, .form {
    display: inline-block;
    vertical-align: top;
}

.form {
    margin: left 30px; ;
    text-align: center;
  border: 5px solid blue; 
  padding: 20px; 
}

.form header {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.form input {
    display: block;
    margin-top: 11px;
   width: 300px;
   padding: 17px;
   font-size: 18px;
   border: 1px solid #333 ; 
}


.form button {
    margin-top: 11px;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    background-color:#2727d9 ;
    border: none;
    width: 300px;
    height: 60px; 
}


























