p.text:not(:empty) {
color: gray;
}

p.text:empty::after {
    content: attr(title);
 }


p:last-of-type {
    text-decoration: line-through;
}





#some_id::before {
  content: '123';
  color: red; 
  text-decoration: line-through ; 
}

p.main-link::first-line {
   color: green; 
}


.main-link {
    color: red;
    text-decoration:none ;
}

.main-link:hover {
    color: blue;
    text-decoration: underline;
    text-decoration-color: red ;
    cursor: pointer;
}

.main-link:active {
   text-decoration: line-through; 
}

.main-link:visited {
    text-decoration: line-through; 
    color: grey;
 }

 input:required
 input {color:blue;}
 input:focus {color: red;}